main {
  width: 100%;
   }
      
section 
    {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 20px;
        color: #fff;
        background-color: blue;
    }

section:nth-of-type(2) {
    background-color: green;
}

section.full-width 
{
    max-width: 100%;
    padding: 0;
    
    > div {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 20px;
    }
}
section.full-width_4
{
    max-width: 100%;
    padding: 0;
    background-color: black;
    > div {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 20px;
    }
}